* {
    padding: 0;
    margin: 0;
    color: rgb(255, 194, 81);
}
.PInput {
    background-color: black;
    display: inline;
    margin-left: 30px;
}
body {
    background-color: black;
    text-align: center;
}
.player {
    text-align: center;
    padding: 30px 20px;
    border: 3px solid rgb(255, 194, 81);
    margin: 30px 20px;
    background: linear-gradient(red, black);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
h1 {
    display: inline;
    margin-top: 50px;
}
button {
    background-color: black;
    padding: 20px 50px;
    border: 3px solid rgb(255, 194, 81);
    border-radius: 20px;
}